.nav {
    background-color: #121212;
    height: 100vh;
    width: 32vh;

    .nav-content {
        margin-left: 30px;
        padding-top: 20px;
    }

    .nav-list {
        padding-top: 40px;
    }

    h2 {
        color: rgba(255, 255, 255, 0.60);
        font-family: Lato;
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        /* 150% */
        text-transform: uppercase;
    }
    a {
        display: flex;
        align-items: center;
        padding: 4px;
        width: 180px;
        height: 40px;
        &:hover {
            border-radius: 20px;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.08) 100%), #121212;
        }

        span {
            margin-left: 10px;
            color: #FFFFFF
        }
    }
    // .nav-item{
    //     margin-left: 10px;
    // }
    .icon{
        width: 22px;
    }
}

.wrapper{
    display: flex;
    justify-content: flex-start;
}